name: Trade Store CI Pipeline

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:

    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurin'

    - name: Build Project
      run: mvn clean compile

    - name: Run Unit Tests
      run: mvn test

    - name: Security Scan
      run: mvn org.owasp:dependency-check-maven:check || true
